<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonathancromie.brisbaneevents"
    android:versionCode="4"
    android:versionName="0.4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExploreActivity"
            android:label="@string/title_activity_explore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackgroundActivity"
            android:label="@string/title_activity_background"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HighScoresActivity"
            android:label="@string/title_activity_high_scores"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>
